@import "fonts";
body {
	font-family: ProximaNova;
	background: url("@img/cart-empty.png") 0 0 no-repeat;
	h1 {
		color: red;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 36px;
	}
}

@media (max-width: 768px) {
	body {
		background-color: white;
	}
}
