@import "fonts";
@import "variables";
@import "libs/normalize";

body {
	background: $background;
}

.wrapper {
	width: calc(100vw - 100px);
	height: 100%;
	background: #ffffff;
	margin: 45px auto;
	border-radius: 10px;
	max-width: 1400px;
}
.header {
	border-bottom: 1px solid #f6f6f6;
	padding: 40px 0 49px 20px;

	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		img {
			margin-right: 17px;
		}

		h1 {
			margin: 0;
			font-size: 24px;
			font-weight: 800;
			line-height: 29px;
			letter-spacing: 0.01em;
		}
		p {
			margin: 0;
			font-family: Proxima Nova;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0em;
			color: #7b7b7b;
		}
	}
	&__cart {
		background: #fe5f1e;
		width: 140px;
		height: 50px;
		border-radius: 30px;
		padding: 0 10px;
		a {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			width: 100%;
			height: 100%;
			justify-content: space-evenly;
			font-weight: 700;
			font-size: 16px;
			span {
				color: white;
			}

			.line-divided {
				height: 25px;
				width: 1px;
				background: #ffffff;
				opacity: 0.25;
			}
		}
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.container {
	width: $container-width;
	margin: 0 auto;
}

.content {
	padding: 40px 0 0 20px;
	.block__filter {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.sort__category {
			ul {
				display: flex;

				li {
					background: #f9f9f9;
					border-radius: 30px;
					padding: 13px 30px;
					margin-right: 10px;
					font-weight: bold;
					transition: background-color 0.2s ease-in-out;
					@include noselect();
					&.active {
						background-color: black;
						a {
							color: white;
						}
					}
					&:active {
						background-color: darken(#f9f9f9, 5%);
					}
					&:hover {
						background-color: darken(#f9f9f9, 3%);
					}
				}
			}
		}
		.sort__popular {
			svg {
				vertical-align: middle;
			}
		}
	}
	&__title {
		margin: 35px 0;
	}
}
